<a href="https://colab.research.google.com/github/karthikhub19/Assignments/blob/main/Telephone_Directory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dnspython  
!pip install pymongo[srv]

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)

In [ ]:
import pymongo
import json

In [ ]:
client = pymongo.MongoClient("mongodb+srv://Mongo:Mongo@cluster0.iz2ed.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.td
records=db.td

#insert
user_list = [
          {"name": "karthik", "phone_number":"9848022338", "place":"Bangalore"},
          {"name": "sai", "phone_number":"9441122884", "place":"Chennai"},
          {"name": "aneesh", "phone_number":"9121212121","place":"Delhi"},
          {"name": "vikas", "phone_number" : "9000009000", "place": "Mumbai"}
  ]

x = records.insert_many(user_list)

In [ ]:

#Find

y=records.find_one()
print(y)

mydoc=records.find({'name':'aneesh'})   
for i in mydoc:
  break
print(i)

{'_id': ObjectId('621df84c23c5758b7b6cb29a'), 'name': 'karthik', 'phone_number': '9848022338', 'place': 'Bangalore'}
{'_id': ObjectId('621df84c23c5758b7b6cb29c'), 'name': 'aneesh', 'phone_number': '9121212121', 'place': 'Delhi'}

In [ ]:
#update
X={'name':'sai'}
Y={'$set':{'name':'gopi'}}
records.update_one(X,Y)

for a in records.find():
  print(a)

In [ ]:
#Delete

A={'name':'vikas'}

records.delete_one(A)

for x in records.find():
  print(x)